@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

:root {
  --bg-color-light: hsl(48, 71%, 99%);
  --bg-color-dark: hsl(240, 92%, 5%);
  --text-color-dark: hsl(240, 92%, 5%);
  --text-color-light: hsl(48, 71%, 99%);
  --text-grey-color: hsla(0, 0%, 13%, 0.8);
  --text-greylight-color: hsla(0, 0%, 78%, 0.873);
  --text-yellow: hsl(36, 74%, 61%);
  --text-orange: hsl(2, 74%, 64%);
  --btn-color: hsl(240, 100%, 5%);

  --font-size-1: 1rem;
  --font-size-2: .9rem;
  --font-size-3: 1.125rem
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  appearance: none;
  text-decoration: none;
  list-style: none;
  border: none;
}

html {
  font-family: 'Inter',
    sans-serif;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  height: 100vh;
}

.container {
  padding: 4rem 6rem;
}

/* Header */
.container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.container header nav ul {
  display: flex;
}

.container header nav ul .li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: var(--font-size-2);
  cursor: pointer;
}

.container header nav ul li {
  color: var(--text-grey-color);
  transition: .4s;
}

.container header nav ul li:hover {
  color: var(--text-orange);
}

.container header nav ul .icon-menus {
  display: none;
}

.container header nav ul .li .close.display {
  display: none;
}


@media (max-width: 900px) {
  .container {
    padding: 1.4rem;
  }

  .container header nav ul {
    position: relative;
  }

  .container header nav ul .plain::after {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.549);
    position: absolute;

    z-index: 10;
    top: -2.1rem;
    right: -1.4rem;
    cursor: pointer;
  }

  .container header nav ul .li {
    margin-top: 5.9rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: -22px;
    top: -8rem;
    padding-left: 2rem;
    z-index: 30;

    font-size: var(--font-size-3);
    background-color: var(--bg-color-light);
    height: 100vh;
    width: 50vw;

    animation-name: slideRight;
    animation-duration: .2s;
  }

  .container header nav ul .li .close {
    position: absolute;
    right: 2rem;
    top: 40px;
  }

  .container header nav ul .icon-menus {
    display: block;
    cursor: pointer;
  }

  .display,
  .container header nav ul .li.display {
    display: none;
  }

  .container header nav ul .li .close.display {
    display: block;
  }

  @keyframes slideRight {
    from {
      right: -3rem;
      /* opacity: 0; */
    }

    to {
      right: -22px;
      /* opacity: 1; */
    }
  }
}


/* Main */
.container main {
  display: flex;
  gap: 2rem;
  margin-bottom: 4rem;
}

.container main .left img {
  margin-bottom: 2rem;
}

.container main .left .left-bottom {
  display: flex;
  gap: 1.5rem;
}

.container main .left .left-bottom .left-bottom-left h1 {
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 1.125;
}

.container main .left .left-bottom .left-bottom-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container main .left .left-bottom .left-bottom-right p {
  font-size: var(--font-size-2);
  color: var(--text-grey-color);
  line-height: 1.5;
}

.container main .left .left-bottom .left-bottom-right button {
  font-weight: 600;
  padding: 1rem;
  background-color: var(--text-orange);
  color: var(--text-color-light);
  letter-spacing: .125rem;
  width: 50%;
  cursor: pointer;

  transition: .4s;
}

.container main .left .left-bottom .left-bottom-right button:hover {
  background-color: var(--btn-color);
}

.container main .right {
  background-color: var(--bg-color-dark);
  padding: 1.5rem;
  color: var(--text-color-light);
}

.container main .right .right-top {
  margin-bottom: 2rem;
}

.container main .right .right-top h1 {
  color: var(--text-yellow);
}

.container main .right .right-bottom {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.container main .right .right-bottom .info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: .8px solid var(--bg-color-light);
  padding-bottom: 1.25rem;
}

.container main .right .right-bottom .info p {
  font-size: var(--font-size-2);
  color: var(--text-greylight-color);
}

.container main .right .right-bottom .info h4 {
  cursor: pointer;
  transition: .25s;
}

.container main .right .right-bottom .info h4:hover {
  color: var(--text-yellow);
}

@media (max-width: 900px) {
  .container main {
    display: flex;
    flex-direction: column;
  }

  .container main .left img {
    background: url(./images/image-web-3-mobile.jpg) no-repeat center center / cover;
    width: 100%;
    height: 100%;
  }

  .container main .left .left-bottom {
    display: flex;
    flex-direction: column;
  }

  .container main .left .left-bottom .left-bottom-left h1 {
    font-size: 2rem;
  }
}

/* Footer */
.container footer {
  display: flex;
  gap: 2rem;
}

.container footer .footer-content {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.container footer .footer-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.container footer .footer-content .text-content {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.container footer .footer-content .text-content h2 {
  font-size: 2rem;
  color: var(--text-greylight-color);
}

.container footer .footer-content .text-content .bottom {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.container footer .footer-content .text-content .bottom p:first-child {
  transition: .4s;
}

.container footer .footer-content .text-content .bottom p:first-child:hover {
  color: var(--text-orange);
  cursor: pointer;
}

.container footer .footer-content .text-content .bottom p:last-child {
  color: var(--text-grey-color);
  line-height: 1.65;
  font-size: var(--font-size-2);
}

@media (max-width: 900px) {
  .container footer {
    flex-direction: column;
  }

  .container footer .footer-content img {
    width: 50%;
  }
}